<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BankingSite.Properties.Settings.BankingSiteConnectionString"
            connectionString="Data Source=LAPTOP-E8I2SBPS\SQLEXPRESS;Initial Catalog=BankingSite;Persist Security Info=True;User ID=TestBenutzer;Password=Password;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>